* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.error {
  border: 1px red solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: green;
}

.is-done {
  color: gray;
  text-decoration: line-through;
}
